@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", sans-serif;
    --dark-bg-color: #0D0D0D;
    --dark-content-color: white;
    --light-bg-color: white;
    --light-content-color: black;
}

body {
    background-color: var(--dark-bg-color);
    color: var(--dark-content-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#logo{
    font-weight: bolder;
    font-size: 3rem;
}

#userInfo{
    font-size: 1.5rem;
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

#logoutBtn{
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    font-size: medium;
    transition: all 250ms;
    border-radius: 0.2rem;
}

#logoutBtn:hover{
    background-color: #8905ff;
    color: white;
    transition: all 250ms;
    border:1px solid white
}

.headline {
    font-weight: bold;
    font-size: 7rem;
    margin: 1rem 0 0 4rem;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    text-align: center;
}

#getStarted {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #8905ff;
    color: white;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#getStarted:hover {
    background-color: #6e039e;
}

.fa-solid {
    font-size: 1.2em;
    vertical-align: middle;
}
section.navbar{
    display: grid;
    grid-template-columns: 50% 50%;
}
a{
    margin: 2rem;
    font-size: 25;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #8905ff;
}
.option-1{
    display: flex;
    padding: 3rem;
    justify-content: right;
}
h1{
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center
}
.domain-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.domain{
    font-size: 40;
    padding-right: 2vh;
}
input#domain{
    width: 65vh;
    height: 6vh;
    border: none;
    border-radius: 0.3rem;
    padding-left: 0.6rem;
    font-size: medium;
}
button.domain-search-btn{
    width: 15vh;
    height: 6vh;
    margin-left: 2vh;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
}
button.domain-search-btn:hover{
    color: white;
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

#manual{
    margin:5px;
    color:#8905ff
}