@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", sans-serif;
    --dark-bg-color: #0D0D0D;
    --dark-content-color: white;

    --light-bg-color: white;
    --light-content-color: black
}

.alert{
    background-color: #8905ff;
    color: white;
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}

body {
    background-color: var(--dark-bg-color);
    color: var(--dark-content-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#logo{
    font-weight: bolder;
    font-size: 3rem;
}

#userInfo{
    font-size: 1.5rem;
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

#logoutBtn{
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    font-size: medium;
    transition: all 250ms;
    border-radius: 0.2rem;
}

#logoutBtn:hover{
    background-color: #8905ff;
    color: white;
    transition: all 250ms;
    border:1px solid white
}

h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center
}
section.navbar{
    display: grid;
    grid-template-columns: 50% 50%;
}
a{
    margin: 2rem;
    font-size: 25;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #8905ff;
}
.option-1{
    display: flex;
    padding: 3rem;
    justify-content: right;
}
ul{
    margin: 7vh;
}