<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block head %}{% endblock %}
  <title>Recon Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header style="color: #8905ff;">
    <div id="logo">
      Recon <i class="fa-solid fa-shield-halved"></i>
    </div>
    <div id="userInfo">
    {% if current_user.is_authenticated %}
        <p>Logged in as: {{ current_user.email }}</p>
        <form action="{{ url_for('logout') }}" method="get">
            <button id="logoutBtn" type="submit">Logout</button>
        </form>
      </div>
    {% endif %}
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
  <nav>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('new_campaign') }}">New Campaign</a>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
