<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://kit.fontawesome.com/a2c68f0716.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <header>
        Recon <i class="fa-solid fa-shield-halved"></i>
    </header>
    <section>
        <h2>Login</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="input-field">
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.remember() }} {{ form.remember.label }}
                </p>
            </div>
            <p class="login-btn">{{ form.submit() }}</p>
        </form>
        <a href="{{ url_for('register') }}">Register</a>
    </section>
</body>
</html>
