{% extends "base.html" %}
{% block head %}
<script src="https://kit.fontawesome.com/a2c68f0716.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/new_campaign.css">
{% endblock %}
{% block content %}
<div class="content">
  <h1>New Campaign</h1>
  <form method="POST">
    <div class="domain-search">
      <label class="domain" for="domain">Domain:</label>
      <input type="text" id="domain" name="domain" required>
      <button class="domain-search-btn" type="submit">Submit</button>
    </div>
    <div>
      Or enter<a id="manual" href="/manual_campaign">Manually</a>
    </div>
  </form>
</div>
{% endblock %}
