{% extends 'base.html' %}
{% block head %}
<script src="https://kit.fontawesome.com/a2c68f0716.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/manual.css">
{% endblock %}
{% block content %}
<div id="mainContainer">
<h1>Create Manual Campaign</h1>

<form action="{{ url_for('manual_campaign') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.campaign_name.label }}<br>
        {{ form.campaign_name(size=32) }}
    </p>
    <p>
        {{ form.csv_file.label }}<br>
        {{ form.csv_file() }}
    </p>
    <p>
        <button id="submitBtn" type="submit">Upload</button>
    </p>
</form>
</div>
{% endblock %}
